/* reset  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

/* custom */

body {
  background-color: aliceblue;
}

.center-viewport {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}
.title {
  font-size: 1rem;
  font-weight: 700;
  padding: 30px 0;
}
.contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
textarea {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  outline: none;
  border-radius: 2px;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.name,
.email {
  width: 100%;
}

.subject {
}

.messages {
}

.submit {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
}

.btn-send {
  font-size: 0.8rem;
  background-color: #37b6ff;
  border: 1px solid #008cde;
  color: #fff;
  padding: 10px;
  border-radius: 2px;
  cursor: pointer;
}

.btn-send:hover {
  opacity: 0.9;
}

.mess-notice {
  font-size: 0.8rem;
  opacity: 0.5;
}

@media screen and (max-width: 560px) {
  .submit {
    flex-direction: column-reverse;
  }

  .info {
    flex-wrap: wrap;
    gap: 10px;
  }
}
